BasedOnStyle: LLVM
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: false
AllowShortEnumsOnASingleLine: false 
AlignAfterOpenBracket: Align
ColumnLimit: 100
AllowAllArgumentsOnNextLine: true